<body>
<div>
    <h1>PSB Performance Dashboard</h1>
    <h3>PT TELKOM WITEL JAKARTA TIMUR</h3>
    <p>Analisis ini dilakukan pada data order pemasangan baru wifi.id (PSB) yang diterima oleh PT Telkom Witel Jakarta Timur. Dataset yang digunakan merupakan data dari yang berasal dari unit Whalesale Access Network pada bagian pasang baru. Analisis ini bertujuan untuk mengukur performasi bisnis pada unit WAN khususnya PSB wifi.id</p>
</div>
</body>

<style>
body {
  padding: 25px;
    display:block;
    margin: 0 auto;
    width: 99%;
  background-color: #fdfdff;
  color: black;
  font-size: 25px;
}
</style>